<p>
使用此表单从此代理手动发出事件（通常用于测试）.
</p>

<p>
如果添加一个名为 <code> payloads </ code>的顶级键，它指向一个对象数组，它们将作为一个系列发出
   事件 否则，输入的所有内容将作为单个事件发出.
</p>

<p>
  支持 Liquid 格式.
</p>

<h4 id='event-creation-status'></h4>

<%= form_tag handle_details_post_agent_path(@agent), :id => "create-event-form" do %>
  <div class="form-group">
    <textarea rows="10" id="payload" name="payload" class="payload-editor" data-height="200">
      {}
    </textarea>
  </div>

  <%= submit_tag "提交", :class => "btn btn-primary" %>
<% end %>

<script>
  $(function () {
    var payloadJsonEditor = window.setupJsonEditor($(".payload-editor"))[0];
    $("#create-event-form").submit(function (e) {
      e.preventDefault();
      var $form = $("#create-event-form");
      var $status = $("#event-creation-status");
      $.ajax({
        url: $form.attr('action'),
        method: "post",
        data: { payload: $form.find("textarea").val() },
        dataType: "JSON",
        success: function(json) {
          if (json.success) {
            $status.text("成功!");
          } else {
            $status.text("错误: " + json.error);
          }
        },
        error: function(response) {
          $status.text("错误: " + response.responseText)
        }
      });
    });
  });
</script>