<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <div class="page-header">
        <h2>
          新建一个场景
        </h2>
      </div>

      <%= render 'form' %>

      <hr>

      <div class="row">
        <div class="col-md-12">
          <%= link_to icon_tag('glyphicon-chevron-left') + ' 返回'.html_safe, scenarios_path, class: "btn btn-default" %>
        </div>
      </div>
    </div>
  </div>
</div>
